@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yellow Brick Road</h1>
    <div class="m-4 description">
        <span class="font-weight-bold">Traffic Integrator</span> 
        - is a demo application for integrating traffic data from existing rerouting applications.
    </div>
</div>
